<p id="notice"><%= notice %></p>

<p>
  <strong>Da:</strong>
  <%= @lead_drop.da %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @lead_drop.create_date %>
</p>

<p>
  <strong>Existing ipdsl:</strong>
  <%= @lead_drop.existing_ipdsl %>
</p>

<p>
  <strong>Max speed:</strong>
  <%= @lead_drop.max_speed %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @lead_drop.contact_name %>
</p>

<p>
  <strong>Street line 1:</strong>
  <%= @lead_drop.street_line_1 %>
</p>

<p>
  <strong>Unit number:</strong>
  <%= @lead_drop.unit_number %>
</p>

<p>
  <strong>Living unit:</strong>
  <%= @lead_drop.living_unit_id %>
</p>

<p>
  <strong>Lead record type:</strong>
  <%= @lead_drop.lead_record_type %>
</p>

<p>
  <strong>Dsl service type:</strong>
  <%= @lead_drop.dsl_service_type %>
</p>

<p>
  <strong>Wireless customer:</strong>
  <%= @lead_drop.wireless_customer %>
</p>

<p>
  <strong>Existing hsia:</strong>
  <%= @lead_drop.existing_hsia %>
</p>

<p>
  <strong>Existing voip:</strong>
  <%= @lead_drop.existing_voip %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @lead_drop.disposition %>
</p>

<p>
  <strong>Wire center:</strong>
  <%= @lead_drop.wire_center %>
</p>

<p>
  <strong>House nbr:</strong>
  <%= @lead_drop.house_nbr %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @lead_drop.street_name %>
</p>

<p>
  <strong>Street direction:</strong>
  <%= @lead_drop.street_direction %>
</p>

<p>
  <strong>Suffix type code:</strong>
  <%= @lead_drop.suffix_type_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @lead_drop.city %>
</p>

<p>
  <strong>State/province:</strong>
  <%= @lead_drop.state/province %>
</p>

<p>
  <strong>Zip/postal code:</strong>
  <%= @lead_drop.zip/postal_code %>
</p>

<%= link_to 'Edit', edit_lead_drop_path(@lead_drop) %> |
<%= link_to 'Back', lead_drops_path %>
